.btn-add {
  border: none;
  margin-top: 10px;
  padding: 15px 35px;
  border-radius: 5px;
  background: #2B84E7;
  font-size: .9em;
  font-family: 'Open Sans';
  line-height: 1.4;
  color: #ffffff;
  cursor: pointer;
}
