<div class="container">
  <div class="container--img">
    <div class="img-responsive">
      <img src="../../../assets/img/person-img/contact-me.jpg" alt="" srcset="">
    </div>
  </div>
  <div class="container--form">
    <form action="">
      <div class="input-group">
        <div class="input-item">
          <input type="text" placeholder="Nome">
        </div>
        <div class="input-item">
          <input type="email" placeholder="Email">
        </div>
      </div>
      <div class="input-group">
        <div class="input-item">
          <input type="text" class="subject" placeholder="Assunto">
        </div>
      </div>
      <textarea class="textarea-form"></textarea>
      <div class="container-btn-submit">
        <button class="btn-submit">Postar</button>
      </div>
    </form>
  </div>
</div>
