@mixin align-center {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container--img{
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.img-responsive{
  margin: 0 auto;
  width: 880px;
  height: 400px;
  & img {
    border-radius: 10px;
  }
}
.container--title {
  @include align-center;
  padding: 20px;
  & .title {
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    color: #222;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
  }
  & .container--info--post {
    display: flex;
    margin-bottom: 30px;

    & .item--info {
      font-family: 'Lora', serif;
      margin-right: 20px;
      line-height: 20px;
      font-size: .7em;
    }
  }
}
p {
  font-family: 'Lora', serif;
  line-height: 30px;
  color: #222222;
  font-size: 1.1em;
}

.container--lasts-posts {
 @include align-center;
  justify-items: center;
  & img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  & .previus--posts{
    display: flex;
    align-items: center;
    justify-items: center;
    & .container--last--post {
      margin-top: 30px;
    }
  }
}
.container--last--post {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  & span {
    margin-bottom: 10px;
  }
}
.container-related-posts{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  & .wapper--post {
    padding: 0 15px;
    & a {
      font-family: 'Lora', serif;
      color: #222222;
      font-size: 1.2em;
    }
  }
}

.container-img-related-post {
  width: 273px;
  height: 186px;
  min-height: 100%;

  & img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
  }
}

.container--comments {
  width: 100%;
  max-width: 750px;
  margin: 140px auto;
  display: flex;
  & .container--comment {
   font-size: .8em;
   line-height: 20px;
   font-weight: 400;
  }
}
.container--new--comment {
  @include align-center;
  display: flex;
  flex-direction: column;
  & h4 {
    color: #222222;
    line-height: 1.4;
    font-size: 1.2em;
    font-weight: 700;
  }
}

.input-group {
  @include align-center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  & .input-item {
    width: 45%;
    & input {
      display: block;
      padding: 0.5rem;
      background: transparent;
      // vertical-align: middle;
      width: 100%;
      max-width: 100%;
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      font-size: 0.95rem;
      color: #222222;

    }
  }
}
.form-container {
  margin-bottom: 50px;
  & .textarea-form {
    width: 100%;
    height: 200px;
    margin: 20px auto 20px auto;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
    font-size: 0.95rem;
    color: #222222;


  }
}
.btn-submit {
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: #DC4B5A;
}
