<div class="container">
  <div class="container--img">
    <div class="img-responsive">
      <img src="../../../../assets/img/posts/fp.jpg" alt="" srcset="">
    </div>
    <!-- https://images.pexels.com/photos/3805102/pexels-photo-3805102.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 -->
  </div>
  <div class="container--title">
    <div class="title">
      Primeiro titulo de de teste
    </div>
    <div class="container--info--post">
      <span class='item--info'>Tags: FrontEnd</span>
      <span class='item--info'>25/Março/2020</span>
      <div class="container--author item--info">
        <span>Robson Maia</span>
      </div>
    </div>
    <div class="detail-content">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Placeat eum eveniet libero delectus iusto aliquid doloremque
        fuga unde eos cupiditate. Eaque harum ex tempora hic ea necessitatibus
         illo. Rem adipisci at magnam aliquam natus. Quod, beatae dolore,
          mollitia ipsam delectus
        magni saepe id commodi quisquam iste eligendi, maxime inventore ratione?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Placeat eum eveniet libero delectus iusto aliquid doloremque
        fuga unde eos cupiditate. Eaque harum ex tempora hic ea necessitatibus
         illo. Rem adipisci at magnam aliquam natus. Quod, beatae dolore,
          mollitia ipsam delectus
        magni saepe id commodi quisquam iste eligendi, maxime inventore ratione?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Placeat eum eveniet libero delectus iusto aliquid doloremque
        fuga unde eos cupiditate. Eaque harum ex tempora hic ea necessitatibus
         illo. Rem adipisci at magnam aliquam natus. Quod, beatae dolore,
          mollitia ipsam delectus
        magni saepe id commodi quisquam iste eligendi, maxime inventore ratione?
      </p>
    </div>
  </div>
  <div class="container--lasts-posts">
    <span class="previus--posts">
      <img src="../../../../assets/img/posts/sp.jpg" alt="" srcset="">
      <div class="container--last--post">
        <span>último Post</span>
        <h5>Title to last post uploaded</h5>
      </div>
    </span>
  </div>
  <div class="container-related-posts">
    <div class="wapper--post">
      <div class="container-img-related-post">
        <img src="../../../../assets/img/posts/women-in-blue-shade-knit-cap-3608622.jpg" alt="" srcset="">
      </div>
      <a class="title-post-related">title first post related</a>
    </div>
    <div class="wapper--post">
      <div class="container-img-related-post">
        <img src="../../../../assets/img/posts/cooked-food-on-black-ceramic-plates-3850838.jpg" alt="" srcset="">
      </div>
      <a class="title-post-related">title first post related</a>
    </div>
    <div class="wapper--post">
      <div class="container-img-related-post">
        <img src="../../../../assets/img/posts/photo-of-road-during-daytime-3295141.jpg" alt="" srcset="">
      </div>
      <a class="title-post-related">title first post related</a>
    </div>
  </div>
  <div class="container--comments">
    <div class="container--comment">
      <span class="name--user">
        Pietro
      </span>
      <span class="commnent-data">
        22/abril/2019 - responder
      </span>
      <p class="comment-content">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt, et aliquam.
        Neque debitis voluptatem nisi. Cumque nihil ducimus odit
         dignissimos tempore id officia aliquam necessitatibus,
         totam, provident nisi inventore laboriosam delectus, tempora
         sed neque assumenda exercitationem consequuntur. Modi ipsa praesentium
         nostrum qui
        busdam consectetur voluptatem doloribus eveniet, a,
        possimus, deleniti voluptate?
      </p>
    </div>
  </div>
  <div class="container--new--comment">
    <h4>Deixe seu comentário: </h4>
    <form class="form-container">
      <textarea class="textarea-form"></textarea>
      <div class="input-group">
        <div class="input-item">
          <input type="text" placeholder="Nome">
        </div>
        <div class="input-item">
          <input type="email" placeholder="Email">
        </div>
      </div>
      <div class="container-btn-submit">
        <button class="btn-submit">Postar</button>
      </div>
    </form>
  </div>
</div>
