<div class="container">
  <div class="container--img">
    <div class="img-responsive">
      <img src="../../../assets/img/person-img/about-me.jpg" alt="" srcset="">
    </div>
  </div>
  <div class="detail--content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Necessitatibus, placeat eos hic velit
      eius asperiores repellat voluptas eaque sapiente quas? Fugit
      facere nulla ipsa. Ex atque voluptatem consectetur magnam in explicabo
      unde ut distinctio provident rem et natus, nisi excepturi commodi
      laborum maiores, cumque maxime accusantium. Libero nemo possimus aut,
      nesciunt rerum dicta fuga deleniti, reiciendis repellat quisquam
      consequatur nihil, magni quos adipisci amet obcaecati quo.
      Quam reprehenderit animi magnam voluptatibus accusantium id
      impedit itaque quis nulla eligendi eius non consequuntur, o
      bcaecati commodi aperiam accusamus iure illo porro consectetur
      labore et repudiandae dolorem nihil? Suscipit, a sint saepe incidunt
      consequuntur dolorem debitis perferendis doloremque ut aperiam bla
      nditiis praesentium necessitatibus quas illo repudiandae. Ipsum re
      rum quam, voluptate, eum rem accusamus error sunt ex tempora praes
      entium asperiores delectus eveniet repellat, natus fugit vitae archit
      ecto et eos odit expedita?
      Velit tempora dicta sequi ipsam commodi sed. Possimus odit soluta vel minima.
    </p>
 </div>
</div>
