.container{
  width: 100%;
  display: flex;
}

.img-container {
  padding: 20px;
  margin: 0 auto;
  width: 880px;
  height: 400px;

}
img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}
