<div class="container">
  <nav class="nav--container">
    <div class="brand">
      <a href="" class="logo">Robson Maia</a>
    </div>
    <div class="right--items">
      <div class="icon--container">
        <img class="icon--svg"
        src="../../../../assets/img/admin-img/bell.svg"
        alt="" srcset=""
        >
      </div>
      <div class="container--img--profile">
        <img class="img--profile" src="../../../../assets/img/admin-img/user-black-man.jpg" alt="" srcset="">
      </div>
      <ul class="container--list">
        <li class="list--item">
          <span>
            Robsonmaia
          </span>
          <img src="../../../../assets/img/admin-img/down-arrow.svg" alt="" srcset="">
        </li>
      </ul>
    </div>
  </nav>
  <div class="container--dashboard">
    <div class="container--sidebar">
      <ul class="sidebar--list">
        <li class="sidebar--item">
          <img src="../../../../assets/img/admin-img/list.svg" alt="" srcset="">
          <span class="sidebar--title">Categories</span>
        </li>
        <li class="sidebar--item">
          <img src="../../../../assets/img/admin-img/discount.svg" alt="" srcset="">
          <span class="sidebar--title">Tags</span>
        </li>
        <li class="sidebar--item">
          <img src="../../../../assets/img/admin-img/blog.svg" alt="" srcset="">
          <span class="sidebar--title">Posts</span>
        </li>
        <li class="sidebar--item">
          <img src="../../../../assets/img/admin-img/comment.svg" alt="" srcset="">
          <span class="sidebar--title">Comments</span>
        </li>
        <li class="sidebar--item">
          <img src="../../../../assets/img/admin-img/support.svg" alt="" srcset="">
          <span class="sidebar--title">Users</span>
        </li>
      </ul>
    </div>
    <div class="container--main">

    </div>
  </div>
</div>
