<div class="container">
  <nav class="nav--container">
    <div class="brand">
      <a href="" class="logo">Robson Maia</a>
    </div>
    <div class="right--items">
      <div class="icon--container">
        <img class="icon--svg"
        src="../../../../assets/img/admin-img/bell.svg"
        alt="" srcset=""
        >
      </div>
      <div class="container--img--profile">
        <img class="img--profile" src="../../../../assets/img/admin-img/user-black-man.jpg" alt="" srcset="">
      </div>
      <ul class="container--list">
        <li class="list--item">
          <span>
            Robsonmaia
          </span>
          <img src="../../../../assets/img/admin-img/down-arrow.svg" alt="" srcset="">
        </li>
      </ul>
    </div>
  </nav>
  <div class="container--dashboard">
    <div class="container--sidebar">
      <ul class="sidebar--list">
        <li class="sidebar--item" *ngFor="let item of itemsMenu" (click)='selected(item)'>
          <img [src]="item.svg" alt="" srcset="">
          <span class="sidebar--title">{{ item.title }}</span>
        </li>
      </ul>
    </div>
    <div class="container--main">
      <h4 class="label--component--selected" *ngIf="itemSelected">{{ itemSelected }}</h4>
      <h4 class="label--component--selected" *ngIf="!itemSelected">Dashboard</h4>
      <app-admin></app-admin>
    </div>
  </div>
</div>
