$color-link:#585858;
$default-line-height: 20px;
.container{
  width: 100%;
  display: flex;

}
.nav--container {
  max-width: 880px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  & .brand {
    color: $color-link;
    line-height: $default-line-height;
  }
  & .list--container {
    display: flex;
    & .list--link {
      cursor: pointer;
      margin-right: 10px;
      color: $color-link;
      font-size: .8em;
      line-height: $default-line-height;
      text-transform: uppercase;

    }
    & .list--link:hover {
      color:#F47E
    }
  }
}
