<div class="container">
  <nav class="nav--container">
    <a href="" class="brand">RM</a>
    <ul class="list--container">
      <li class="list--item"><a href="" [routerLink]="['']" routerLinkActive="router-link-active"  class="list--link">Home</a></li>
      <li class="list--item"><a href="" [routerLink]="['/sobre']" routerLinkActive="router-link-active"   class="list--link">Sobre</a></li>
      <li class="list--item"><a href="" [routerLink]="['/contato']" routerLinkActive="router-link-active"   class="list--link">Contato</a></li>
      <li class="list--item"><a href="" [routerLink]="['/login']" routerLinkActive="router-link-active"   class="list--link">Login</a></li>
    </ul>
  </nav>
</div>
